@import './reset';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

    //Tamaño de elementos para utilizar EMs posteriormente
    font-size: 16px;
    line-height: 1.25em;
}

.container {
    width: 100%;
    max-width: 768px;
    height: auto;
    margin: 0 auto;
}

.title {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.1;
}

.legend {

}

.b-map {
    display: flex;
    justify-content: space-between;

    .map {
        width: 50%;
        height: 400px;
    }
}

.source {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.1;
}